<div class="container">
    <h2>City Details!</h2>

    <form novalidate="novalidate" class="form-horizontal">
    	
    	<input type="hidden" name="id" value="{{city.id}}"/>
        <div class="control-group">
            <label class="control-label" for="inputCountryText">Country:</label>
            <div class="controls">
             	<select ng-options="countryName as countryName for countryName in allCountries" ng-model="city.country" ng-change="refreshCities()"/>
            </div>
        </div>
        
        <div class="control-group">        	
            <label class="control-label" for="inputCityName">Select City:</label>
            <div class="controls">
            	<select ng-options="item.value as item.key for item in citiesInCountry" ng-model="city.name"/>           
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="inputAboutText">About:</label>
            <div class="controls">
                <textarea id="inputAboutText" ng-model="city.abouttext"/>
            </div>
        </div>
        
        <legend></legend>
        
			<h4>Near By Cities!</h4>        
		    <div class="row">
		        <div class="col-xs-4 col-xs-offset-4 top-buffer">		        	
		            <div auto-complete model="autocomplete.cities"></div>
		        </div>
		    </div>

		
        <legend></legend>
        
        <div class="control-group">
        	<h4>How to reach?</h4>
            <label class="control-label" for="byFlight">Flight</label>
            <div class="controls">
                <textarea id="byFlight" ng-model="city.byFlight"/>
            </div>
        </div>

		<div class="control-group">
		            <label class="control-label" for="byTrain">Train</label>
		            <div class="controls">
		                <textarea id="byTrain" ng-model="city.byTrain"/>
		            </div>
		        </div>
		
		<div class="control-group">
            <label class="control-label" for="byRoad">Car/Bus</label>
            <div class="controls">
                <textarea id="byRoad" ng-model="city.byRoad"/>
            </div>
        </div>

		<legend>Select tags!</legend>
		<div class="control-group">
			  <div ng-repeat="tag in allCityTags">				 
				  <div  class="controls">
				     <label class="control-label" for="{{tag.value}}">{{tag.value}} 
				 	 	<input type="checkbox" name="{{tag.value}}" id="{{tag.key}}" ng-model="tag.checked" ng-change="selectTags()" />
				  	 </label>
				  </div>
			  </div>				
		</div>
		<hr style="border: none; height: 1px; color: #F0F0F0; background: #F0F0F0 ;" />
		<div class="control-group" ng-show="city.id">
			<label class="control-label" for="inputCityImages">Images: </label>
        	<div class="controls" >
        		<input type="file" id="inputCityImages" file-model="files" multiple />
        		<img id='cityImageThrobber' src='img/busy.gif' style='display:none'/>
        	</div>
        	<br>
        	<hr style="border: none; height: 1px; color: #F0F0F0; background: #F0F0F0 ;" />
        	<table class="table table-striped table-condensed">
			<thead>
			<tr>
				<th style="min-width: 80px;">Image Name</th>
				<th style="min-width: 80px;">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="file in files">
				<td>{{ file.name }}</td>
				<td><a ng-click="deleteFile(file)"
					class="btn btn-small btn-danger">Remove</a></td>
			</tr>
			<tr ng-repeat="attachment in city.attachments">
				<td>{{ attachment.fileName }}</td>
				<td><a ng-click=""
					class="btn btn-small btn-danger disabled">Remove</a></td>
			</tr>
		</tbody>
	</table>
        </div>       
        <div class="control-group">
            <div class="controls">
              	<!-- city -detail.html: -->
                <a ng-click="cancel()" class="btn btn-small">Cancel</a>                
                <a ng-click="save()" class="btn btn-small btn-primary">Save</a>              
            </div>
        </div>
    </form>
</div>
