<div class="container">
    <h2>City Details!</h2>

    <form novalidate="novalidate" class="form-horizontal">
    	
    	<input type="hidden" name="id" value="{{city.id}}"/>
        <div class="control-group">
            <label class="control-label" for="inputCountryText">Country:</label>
            <div class="controls">
             	<select ng-options="countryName as countryName for countryName in allCountries" ng-model="city.country" ng-change="refreshCities()"/>
            </div>
        </div>
        
        <div class="control-group">        	
            <label class="control-label" for="inputCityName">Select City:</label>
            <div class="controls">
            	<select ng-options="item.value as item.key for item in citiesInCountry" ng-model="city.name"/>           
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="inputAboutText">About:</label>
            <div class="controls">
                <textarea id="inputAboutText" ng-model="city.abouttext"/>
            </div>
        </div>
        
        <legend></legend>
        
			<div class="control-group">
				<label class="control-label" for="inputNearbyCities">Near By Cities :</label>       		        	
		        <div auto-complete url="" model="autocomplete.cities">
		    </div>
		
        <legend></legend>
        
        <div class="control-group">
        	<h4>How to reach?</h4>
            <label class="control-label" for="byFlight">Flight</label>
            <div class="controls">
                <textarea id="byFlight" ng-model="city.byFlight"/>
            </div>
        </div>

		<div class="control-group">
		            <label class="control-label" for="byTrain">Train</label>
		            <div class="controls">
		                <textarea id="byTrain" ng-model="city.byTrain"/>
		            </div>
		        </div>
		
		<div class="control-group">
            <label class="control-label" for="byRoad">Car/Bus</label>
            <div class="controls">
                <textarea id="byRoad" ng-model="city.byRoad"/>
            </div>
        </div>

		<legend>Select tags!</legend>
		<div class="control-group">
			  <div ng-repeat="tag in allCityTags">				 
				  <div  class="controls">
				     <label class="control-label" for="{{tag.displayText}}">{{tag.displayText}} 
				 	 	<input type="checkbox" name="{{tag.displayText}}" id="{{tag.id}}" ng-model="tag.checked" ng-change="selectTags()" />
				  	 </label>
				  </div>
			  </div>				
		</div>
		        
        <div class="control-group">
            <div class="controls">
              	<!-- city -detail.html: -->
                <a ng-click="cancel()" class="btn btn-small">Cancel</a>                
                <a ng-click="save()" class="btn btn-small btn-primary">Save</a>              
            </div>
        </div>
    </form>
</div>